
# /uva/beamerthemeuva/example/
/uva/beamerthemeuva/example/*.aux
/uva/beamerthemeuva/example/*.log
/uva/beamerthemeuva/example/*.nav
/uva/beamerthemeuva/example/*.out
/uva/beamerthemeuva/example/*.pdf
/uva/beamerthemeuva/example/*.snm
/uva/beamerthemeuva/example/*.toc

# /uva/uva-seas-thesis/
/uva/uva-seas-thesis/*.aux
/uva/uva-seas-thesis/*.bbl
/uva/uva-seas-thesis/*.blg
/uva/uva-seas-thesis/*.log
/uva/uva-seas-thesis/*.pdf
/uva/uva-seas-thesis/*.synctex.gz

# /uva/uva-seas-thesis/example/
/uva/uva-seas-thesis/example/*.aux
/uva/uva-seas-thesis/example/*.bbl
/uva/uva-seas-thesis/example/*.blg
/uva/uva-seas-thesis/example/*.lof
/uva/uva-seas-thesis/example/*.log
/uva/uva-seas-thesis/example/*.lot
/uva/uva-seas-thesis/example/*.out
/uva/uva-seas-thesis/example/*.pdf
/uva/uva-seas-thesis/example/*.svt
/uva/uva-seas-thesis/example/*.synctex.gz
/uva/uva-seas-thesis/example/*.toc

# /uva/uva-seas-thesis/example/chapters/
/uva/uva-seas-thesis/example/chapters/*.aux
